html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: all .2s linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 1.3em;
  left: 50%;
  transform: translateX(-50%);
}

.polaroid:hover {
  transform: rotate(0);
  box-shadow: 1px 10px 20px black;
}

figure:nth-child(2) {
  top: 150px;
  left: 290px;
  transform: rotate(6deg);
  z-index: 3;
}

figure:first-of-type {
  top: 90px;
  left: 200px;
  transform: rotate(-15deg);
  z-index: 1;
}

figure:last-of-type {
  top: 100px;
  left: 390px;
  transform: rotate(32deg);
  z-index: 2;
}

figure:first-of-type:hover,
figure:last-of-type:hover,
figure:nth-child(2):hover {
  z-index: 100;
}
